<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between mb-4">
      <h5 class="box-title mb-0">Change Password</h5>
      <small></small>
    </div>
    <form class="form-horizontal form-material"  #passwordFormRef="ngForm" novalidate (ngSubmit)="passwordFormRef.form.valid && onSubmit(passwordFormRef)">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label class="control-label">Enter Old Password</label>
            <input type="password" class="form-control" name="currentPassword" ngModel #oldPasswordRef="ngModel" required  minlength="5"
                   [class.is-invalid] = "passwordFormRef.submitted && (oldPasswordRef?.errors?.required || oldPasswordRef?.errors?.minlength)">
            <div *ngIf="passwordFormRef.submitted && oldPasswordRef?.errors?.required" class="invalid-feedback">
              Old password is Required
            </div>
            <div *ngIf="passwordFormRef.submitted && oldPasswordRef?.errors?.minlength" class="invalid-feedback" >
              password must be a minimum of 5 characters
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="control-label">Enter New Password</label>
            <input type="password" class="form-control" name="newPassword" ngModel #newPasswordRef="ngModel" required  minlength="5"
                   [class.is-invalid] = "passwordFormRef.submitted && (newPasswordRef?.errors?.required || newPasswordRef?.errors?.minlength)">
            <div *ngIf="passwordFormRef.submitted && newPasswordRef?.errors?.required" class="invalid-feedback">
              New password is Required
            </div>
            <div *ngIf="passwordFormRef.submitted && newPasswordRef?.errors?.minlength" class="invalid-feedback" >
              Password must be a minimum of 5 characters
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="control-label">Confirm New Password</label>
            <input type="password" class="form-control" name="confirmPassword" ngModel #confirmPasswordRef="ngModel" required  minlength="5"
                   [class.is-invalid] = "passwordFormRef.submitted && (confirmPasswordRef?.errors?.required || confirmPasswordRef?.errors?.minlength)">
            <div *ngIf="passwordFormRef.submitted && confirmPasswordRef?.errors?.required" class="invalid-feedback">
              Confirm password is required
            </div>
            <div *ngIf="passwordFormRef.submitted && confirmPasswordRef?.errors?.minlength" class="invalid-feedback" >
              password must be a minimum of 5 characters
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button [disabled]="isChangingPassword" type="submit" class="btn btn-dark btn-md text-uppercase waves-effect waves-light">
            Change Password <i *ngIf="isChangingPassword" class="fa fa-spin fa-spinner"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
