<div class="main-page">
  <div class="landing-area">
    <video autoplay muted loop id="myVideo">
      <source  src="https://video.dailymail.co.uk/preview/backup/2019/11/10/1647733232717049910/636x382_MP4_1647733232717049910.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <nav class="navigation-menu">
      <h2 class="logo">Scoutsoft</h2>
      <main>
        <ul>
          <li><a>Register</a></li>
          <li><a routerLink="/login">Sign in</a></li>
          <li><a class="action-btn btn-info">Upload Video</a></li>
        </ul>
      </main>
    </nav>

    <div class="main-area">
      <h1>The No.1 Scouting Platform</h1>
      <p>The professional platform for people working in the football world: videos, data, statistics and tools.
        Analyze teams, matches and players; discover new talents; promote your players.</p>
      <div class="button-group">
        <a class="get-started btn btn-dark">Get Started</a>
        <a class="learn-more btn btn-info">Learn more</a>
      </div>
    </div>
  </div>

  <section class="about">
      <h2>What is ScoutSoft</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h6>THE INTERNATIONAL SCOUTING PLATFORM</h6>
            <p>Wyscout is the most used technology in the world for scouting,
              match and performance analysis.
            </p>
            <p>
              Since we were born in 2004, we have been promoting the development of our favorite sport,
              among Clubs and single football professionals.
            </p>
            <a class="text-white btn btn-info">Learn more</a>
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-6">
                <h1>A</h1>
              </div>
              <div class="col-md-6">
                <h1>B</h1>
              </div>
              <div class="col-md-6">
                <h1>C</h1>
              </div>
              <div class="col-md-6">
                <h1>D</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!--<div class="card auth-content mb-0">-->
  <!--  <div class="card-body py-5">-->
  <!--    <div class="text-center mb-5">-->
  <!--      <h3 class="mb-3 text-primary">Scout Home Page</h3>-->
  <!--      <div class="font-18 text-center">Coming soon . . .</div>-->
  <!--    </div>-->

  <!--    <div class="text-muted text-center font-13 mt-5">For demo purpose?<a class="ml-2" routerLink="/login" style="border-bottom: 1px solid">Login here</a></div>-->
  <!--  </div>-->
  <!--</div>-->
</div>


