<div class="card auth-content mb-0">
    <div class="card-body py-5">
        <div class="text-center mb-5">
            <h3 class="mb-3 text-primary">Reidius</h3>
            <div class="font-18 text-center">Create an accaunt</div>
        </div>
        <form id="register-form" action="javascript:;">
            <div class="mb-4">
                <div class="md-form mb-0"><input class="md-form-control" type="email" name="email"><label>Email</label></div>
            </div>
            <div class="mb-4">
                <div class="md-form mb-0"><input class="md-form-control" id="password" type="password" name="password"><label>Password</label></div>
            </div>
            <div class="mb-5">
                <div class="md-form mb-0"><input class="md-form-control" type="password" name="password_confirmation"><label>Confirm Password</label></div>
            </div>
            <div class="flexbox mb-5">
            	<label class="checkbox checkbox-primary mt-2"><input type="checkbox" checked=""><span>I accept the terms</span></label>
            	<button class="btn btn-primary btn-rounded" style="min-width: 100px" type="submit">SIGN UP</button>
            </div>
            <p class="mt-5 mb-4 text-muted text-center">Or login with social networks</p>
            <div class="flex-center">
            	<a class="btn btn-facebook btn-floating mr-3" href="javascript:;"><i class="fab fa-facebook-f"></i></a>
            	<a class="btn btn-twitter btn-floating mr-3" href="javascript:;"><i class="fab fa-twitter"></i></a>
            	<a class="btn btn-google btn-floating mr-3" href="javascript:;"><i class="fab fa-google-plus-g"></i></a>
            	<a class="btn btn-linkedin btn-floating" href="javascript:;"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </form>
    </div>
</div>
<a class="btn btn-link home-link" routerLink='/index'>
	<span class="btn-icon"><i class="ti-arrow-left font-20"></i>Go Home</span>
</a>
