
@import 'src/@theme/scss/components/functions';
@import 'src/@theme/scss/components/mixins';
@import 'src/@theme/scss/components/variables';

app-faq {
    .faq-categories-nav {
        .nav-link.active {
            color: $link-color;
            font-weight: 500;
        }
    }
    .faq-list {
        .card {
            box-shadow: none;
            padding: 0.55rem 0;
            .card-header {
                display: block;
                height: auto;
                min-height: auto;
                padding: 0;
                border-bottom: 0;
                button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    font-weight: 500;
                    font-size: 16px;
                    padding: 0;
                    color: inherit;
                    box-shadow: none !important;
                    &[aria-expanded=true] {
                        color: theme_color('primary');
                        mat-icon {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .card-body {
                padding: 1.5rem;
            }
        }
    }
    .mat-sidenav-container {
        background-color: inherit;
        mat-sidenav {
            &:not(.mat-drawer-over) {
                background-color: inherit;
            }
            &.mat-drawer-over {
                padding: 20px;
            }
            border: 0;
            &.mat-drawer-side ~ mat-sidenav-content {padding-left: 20px}
        }
    }
}